body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}

@font-face {
  font-family: "Caveat";
  src: local("Caveat"), url(./fonts/Caveat/Caveat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Caveat-Medium";
  src: local("Caveat-Medium"), url(./fonts/Caveat/Caveat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Caveat-SemiBold";
  src: local("Caveat-SemiBold"), url(./fonts/Caveat/Caveat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Caveat-Bold";
  src: local("Caveat-Bold"), url(./fonts/Caveat/Caveat-Bold.ttf) format("truetype");
}
