.root {
  flex-grow: 1;
  margin-left: 220px;
  margin-top: 20px;
}

.profile-grid {
}

.profile-grid div {
  padding: 2;
  text-align: justify;
}

.avatar {
  height: 50%;
  width: 50%;
  padding-top: 5em
}