.root {
  flex-grow: 1;
  margin-left: 1cm;
}

.profile-grid h1 {
  font-family: "Tahoma", Geneva, sans-serif;
}

.profile-grid h3 {
  font-family: "Tahoma", Geneva, sans-serif;
}

.profile-grid h4 {
  font-family: "Tahoma", Geneva, sans-serif;
  color: blue;
}

.avatar {
  height: 50%;
  width: 50%;
  padding-top: 5em
}
