.profile-grid {
  align-items: center;
  text-align: justify;
}

.profile-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 50%;
  width: 50%;
  padding-top: 5em
}
