.NavBar__a {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 45px;
}

nav{
    background-color: #2196f3;
}

.NavBar_navigation-items a{
    margin: 10px;
    /* padding: 10px; */
    color: white;
    font-size: medium;
}
.flex-nav {
    display: flex;
    justify-content: space-between;
}
.NavBar__navigation {
    display: flex;
    align-items: center ;
    height:55px;
    padding: 0 0.7rem;
}

.spacer {
    flex: 1;
}

.opened{
    margin-top: 0px;
}
.NavBar_navigation-items a:hover,
.NavBar_navigation-items a:active {
    color: #fa923f;
    
}

@media (max-width: 1000px) {
    .Toggled{
        width: 0px;
    }
}
/* @media (max-width: 1439px) {
    .NavBar_navigation-items {
        display: none;
    }
} */

/* @media (min-width: 1440px) {
    .NavBar__toggle-button{
        display: none;
    }

    .NavBar__logo {
        margin-left: 0 ;
        align-items: center;
    }
} */

.logo{
    width: 100px;
    height: 50px;
 /*it was 2em before, em kurang lebih is 16px  */
    
}
